{% extends 'base.twig' %}

{% block content %}
    <section>
        <article>
            <header>
                <h1>404 - Page Not Found</h1>
            </header>

            <p>Sorry, but we couldn't find the page you were looking for.</p>
        </article>
    </section>
{% endblock %}
