{% extends 'base.twig' %}

{% block content %}
    <section>
        <article class="content-page content-page--archive">
            <header class="content-page-header">
                <h1>{{ title }}</h1>
            </header>

            <section class="content-page-content">
                {% for post in posts %}
                    {% include 'partials/post-tease.twig' with { post:post } %}
                {% endfor %}
            </section>
        </article>
    </section>
{% endblock %}
