{% extends 'base.twig' %}

{% block content %}
    <section>
        <article class="content-page">
            <header class="content-page-header">
                {% if post.get_thumbnail %}
                    <img alt="{{ post.title }}" src="{{ post.get_thumbnail.get_src|resize(600, 400) }}" />
                {% endif %}
                <h1>{{ post.title }}</h1>
            </header>

            <section class="content-page-content">
                {{ post.post_content|wpautop }}
            </section>
        </article>
    </section>
{% endblock %}
