* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: $copy;
    font-family: $BodyCopy;
    font-size: 0.875rem;
    line-height: 1.6;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
}


.visually-hidden {
    @include visually-hidden;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
    font-family: $HeadingCopy;
}

ol, ul {
    margin: 0 0 1.6rem
}

p {
    margin: 0 0 1rem;
}

a {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    @include transition(all, $transition-duration, $transition-easing);

    &:hover,
    &:focus {
        border-color: $copy;
    }

    img {
        border: 0;
    }
}
