@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";

// no spacing between columns
.row.no-gutter [class*='col-']:not(:first-child),.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

section {
}

.container-fluid {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

.page-wrapper {
    position: relative;
    overflow: hidden;
}

// .no-margin-horizontal {
//     margin-right: 0;
//     margin-left: 0;
// }
// .no-padding-horizontal {
//     padding-right: 0;
//     padding-left: 0;
// }

// hide stuff at breakpoints
.xs-hidden {
    @include mq($until: small) {
        display: none !important;
    }
}
.sm-hidden {
    @include mq($from: small, $until: medium) {
        display: none !important;
    }
}
.md-hidden {
    @include mq($from: medium, $until: large) {
        display: none !important;
    }
}
.lg-hidden {
    @include mq($from: large, $until: wide) {
        display: none !important;
    }
}
.wi-hidden {
    @include mq($from: wide) {
        display: none !important;
    }
}
